@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
$white : #fff;
$darkBlue: #3A4793;
$lightBlue: #25B3EC;
$lightPurple: #9787EE;
$yellow: #FFBF3E;

html, body {
  height: 100%;
}

#home{
  background: 
  url("https://static.pexels.com/photos/9754/mountains-clouds-forest-fog.jpg")
  center center;

  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}